<div class="container" ng-show="$ctrl.chatMode">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Chats:</h1>
      <div id="chatContainer" style="max-height: 400px;overflow-y: scroll;">
      <ul class="chatMessage" class="nav nav-tabs nav-stacked" ng-repeat="chat in $ctrl.chats">
        <li><a href="#" uib-tooltip=""><b>{{chat.info.length>0?chat.info:'anonymous'}} </b> > {{chat.name}} <span class="pull-right">{{chat.createdAt | date:'medium'}} </span><!--<button type="button" class="close" ng-click="$ctrl.deleteChat(chat)">&times;</button>--></a></li>
      </ul>
      </div>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="your message..." ng-model="$ctrl.newChat">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addChat()">Chat</button>
      </span>
    </p>
  </form>
</div>

<div class="container" ng-show="!$ctrl.chatMode">

  <form class="thing-form">
    <label>Please Enter your name</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="your name..." ng-model="$ctrl.userName">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.enterChatMode()">Enter</button>
      </span>
    </p>
  </form>
</div>
